/* Ini adalah external CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Mosk Typeface';
    src: url(/assets/font/Mosk_Typeface/Mosk_Typeface/Mosk\ Normal\ 400.ttf);
}

@font-face {
    font-family: 'Audrey';
    src: url(/assets/font/Audrey/Audrey/Audrey-Normal.otf);
}

body {
    background-color: burlywood;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.x-center {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.y-center {
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.item {
    background-color: cyan;
    width: 200px;
    height: 200px;
    margin: 10px auto;
}

.item.kotak1 {
    background-color: yellow;
}

.item.kotak2 {
    background-color: black;
}

.item.kotak3 {
    background-color: red;
}

ul {
    text-indent: -20px;
}

#firstParagraph {
    color: red;
    text-align: center;
    font-size: 30px;
    font-family: 'Mosk Typeface', 'Roboto', sans-serif;
    font-weight: bold;
}

#secondParagraph {
    color: blue;
    text-align: center;
    font-size: 30px;
    font-family: 'Mosk Typeface', 'Roboto', sans-serif;
    font-weight: normal;
}

a {
    color: blue;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Mosk Typeface', 'Roboto', sans-serif;
    font-weight: normal;
}