/* Ini adalah external CSS */

@font-face {
    font-family: 'Mosk Typeface';
    src: url(/assets/font/Mosk_Typeface/Mosk_Typeface/Mosk\ Normal\ 400.ttf);
}

@font-face {
    font-family: 'Audrey';
    src: url(/assets/font/Audrey/Audrey/Audrey-Normal.otf);
}

body {
    background-color: burlywood;
}

.item {
    background-color: cyan;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.item.kotak1 {
    background-color: yellow;
}

.item.kotak2 {
    background-color: black;
}

.item.kotak3 {
    background-color: red;
}

ul {
    text-indent: -20px;
}
#firstParagraph {
    color: red;
    text-align: center;
    font-size: 30px;
    font-family: 'Mosk Typeface', 'Courier New', Courier, monospace;
    font-weight: bold;
}
#secondParagraph {
    color: blue;
    text-align: center;
    font-size: 30px;
    font-family: 'Mosk Typeface', 'Courier New', Courier, monospace;
    font-weight: normal;
}